[Desktop Entry]
Encoding=UTF-8
Name=Link to Matthew Rocklin - YouTube - YouTube
Type=Link
URL=https://www.youtube.com/user/mdrocklin/videos
Icon=text-html
