[Desktop Entry]
Encoding=UTF-8
Name=Link to Matthew Rocklin: Dask: out of core arrays with task scheduling - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=ieW3G7ZzRZ0
Icon=text-html
