[Desktop Entry]
Encoding=UTF-8
Name=Link to Presentations On Dask — dask 0.17.0 documentation
Type=Link
URL=https://dask.pydata.org/en/latest/presentations.html
Icon=text-html
