[Desktop Entry]
Encoding=UTF-8
Name=Link to Related Work — Dask.distributed 1.21.1+11.g13b9fc3 documentation
Type=Link
URL=https://distributed.readthedocs.io/en/latest/related-work.html
Icon=text-html
